.example-3 {
    width: 100%;
    height: 100%;
}

.example-3 .before {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
}
.example-3 .before h2 {
    font-size: 45px;
    color: #939393;
}
.example-3 .before h2 span {
    color: #FF6700;
}
.example-3 .container {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #61dafb;
}
.example-3 .container img, .example-3 .container .loading {
    width: 1080px;
    height: 810px;
    margin: 0 auto;
}
