h3 {
  text-align: center;
}
button {
  margin: 0 auto;
  display: block;
}
.text {
  font-size: 19px;
  text-align: center;
}
.sub {
  padding: 0 20px;
  font-size: 14px;
  color: #616161;
  text-align: center;
}
.red {
  color: red;
}
